@tailwind base;
@tailwind components;
@tailwind utilities;

/* Отключить выделение текста */
* {
  user-select: none; /* Отключает возможность выделения текста */
  -webkit-user-select: none; /* Для браузеров на движке WebKit */
  -moz-user-select: none; /* Для Firefox */
}

/* Отключить перетаскивание элементов */
img, a {
  -webkit-user-drag: none;
  user-drag: none;
}

/* Styles for snap container and sections */
.snap-container {
  scroll-behavior: smooth;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.snap-section {
  height: 100vh; /* Each section takes full viewport height */
  scroll-snap-align: center;
}

